@import"./_varaiables.scss";
@import"./_colors.scss";
.img-content-4 {
    display: flex;
    justify-content: space-around;
    transition: 0.7s all;
    flex-direction: column;
    align-items: center;
    @include phone {
        flex-direction: column;
    }
    @include laptop {
        
    }
    @include tablet {
        
    } 
}
.img-4 {
    display: flex;
    background-image: url("img/Plane.jpg");
    height: 20rem;
    width: 50%;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    color: white;
    /*opacity: 0.9;*/
    flex-direction: column;
    text-align: center;
    justify-content: center;
    transition: 0.7s all;
    background-position: center;
    border-radius: 30rem;
    margin: 10rem;
    @include laptop {
        height: 50rem;
        width: 30rem;
    }
    @include tablet {
        height: 50rem;
        width: 25rem;
        margin: 0.5rem;
    }
    @include phone {
        height: 20rem;
        width: 100%;
        margin: 0.5rem;
        flex-direction: column;
    }
    
}
.img-4:hover {
    transform: scale(1.3);
    z-index: 2;
    filter: grayscale(100%);
}
.img-4:not(:hover) {
    transform: scale(1.0);
    opacity: 0.9;
}
.b-words-1 {
    font-family: 'Oswald', sans-serif;
    font-size: 6rem;
    color: white;
    opacity: 0.90;
    text-shadow: -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000;
}
.b-words-1:active, :visited, :link {
    font-family: 'Oswald', sans-serif;
    font-size: 6rem;
    color: white;
    opacity: 0.90;
    text-shadow: -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000;
    text-decoration: none; 
  }
  .img-4-2 {
    display: flex;
    background-image: url("img/Flag.jpg");
    height: 20rem;
    width: 50%;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    color: white;
    /*opacity: 0.9;*/
    flex-direction: column;
    text-align: center;
    justify-content: center;
    transition: 0.7s all;
    background-position: center;
    border-radius: 30rem;
    margin: 10rem;
    @include laptop {
        height: 50rem;
        width: 30rem;
    }
    @include tablet {
        height: 50rem;
        width: 25rem;
        margin: 0.5rem;
    }
    @include phone {
        height: 20rem;
        width: 100%;
        margin: 0.5rem;
        flex-direction: column;
    }
  }
  .img-4-2:hover {
    transform: scale(1.3);
    z-index: 2;
    filter: grayscale(100%);
  }
  .img-4-2:not(:hover) {
    transform: scale(1.0);
    opacity: 0.9;
  }
  .b-words-1:active, :visited, :link {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    color: white;
    opacity: 0.90;
    text-shadow: -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000;
    text-decoration: none; 
    }